body {
background-color: white;
}
h1   {
    font-family: "JetBrains Mono";
    font-size: 40px;
}
h2  {
    font-family: "JetBrains Mono";
    font-size: 20px;
}

body {
    background-color: lightcyan;
    margin: 0;
    display: grid;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}